/* .single-item-rtl div{
  height:228px;
  background-repeat: no-repeat;
}

.news01{
  background-image: url("/img/sub_banner/party.png");
}

.news02{
  background-image: url("/img/sub_banner/party.png");
}

.news03{
  background-image: url("/img/sub_banner/party.png");
}

.news04{
  background-image: url("/img/sub_banner/party.png");
} */
